@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

.arrow-li {
  list-style-type: none;
}

.arrow-li::before {
  font-family: 'Courier New', Courier, monospace;
  content: '>>>';
  color: red;
  margin-right: 0.5rem;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/*

color palette

green #30fe00
blue #4700fe
yellow #e3ff00
red #ff002f
black #101010

*/